<html>
<head>
    <title>Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/mdbootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="https://cdn.jsdelivr.net/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="https://cdn.jsdelivr.net/mdbootstrap/4.1.1/css/style.css" rel="stylesheet">
    <script src="https://raw.githubusercontent.com/twitter/typeahead.js/master/dist/typeahead.bundle.js" type="javascript"></script>

</head>
<body>

{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!-- Index page -->



{% if user.is_authenticated %}

{% load static %}
<div class="container">
    <div class="container">
        <div class="input-group">
            <form class="form-inline" action="/all/" method="get">
              <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Games : " name="name">
              </div>
              
              <input class="btn btn-default btn-primary" type="submit"/>
            </form>

        </div><!-- /input-group -->
    </div>
</div>
{% if list_val %}

<br>
    <div class="container">
    {% for question in list_val %}
        <div class="card col-md-4" style="padding: 10px; min-height: 300px;">

            <!--Card image-->
            <div >
          <!--   <img class="img-fluid" src="{{ question.image }}" alt="Card image cap" style="padding:10px">
           -->      </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">{{ question.title }}</h4>
                <!--Text-->
                <p class="card-text">{{ question.platform}} </p>
                <!-- <a href="{{ question.link }}" target="_blank" class="btn btn-primary">View Hotel</a> -->
                            <span>Score : {{ question.score }} , </span><br>
            <span>Genre : {{ question.genre }} , </span><br>
            <span>Editors Choice : {{ question.editors_choice }}  </span>

            <!-- <p> Final price : {{ question.final_price }}</p> -->

            </div>
            <!--/.Card content-->



        </div>

    {% endfor %}
    </div>
{% else %}
    <p>No product for this page</p>
{% endif %}

<div >
<!-- <div class="col-md-2"></div> -->
<div >
<nav aria-label="Page navigation" style="width:60%; margin:0 auto;">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>


    {% for i in  range_list %}


 <li class="page-item"><a class="page-link" href="/all/{{ i }}">{{ i }}</a></li>

    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<!-- <div class="col-md-5"></div>

</div> -->
{% endif %}
{% endblock %}


</body>

</html>